@tailwind base;
@tailwind components;
@tailwind utilities;

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%; /* Por defecto, cada slide ocupa el 100% del contenedor */
  min-width: 0;
  padding-left: 1rem; /* Espacio entre slides */
}